{% extends 'main.html' %}

{% block content %}

	{% load static %}
	<div style="display: flex;">
		<div class="board">
			{% for color, piece in board %}
				<div class="square {{ color }}">
				{% if piece != " " %}
				<img src="{% static 'pieces/' %}{{piece}}.png" width="90" height ="90"/>
				{% endif %}
				</div>
			{% endfor %}
		</div>
		<div style="display: flex; flex-direction: column; width: 50%;">
			<div style="height: 75%; width: 100%;">
				<ul>
					{% for line in Children %}
					<li><a href="{% url 'position' line.child.id %}?line={{ line.line }}"> {{ line.move }}({{ line.line }}) </a></li>
					{% empty %}
						<li>There are no Moves saved in this line.</li>
					{% endfor %}
				</ul>
			</div>
			<div>
				<form method="POST" action="">
					{% csrf_token %}
					{{form.as_p}}
					<input type="submit" value="Submit" />
				</form>
			</div>
		</div>
	</div>

	<style>
	.board {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(8, 1fr);
		border: 4px solid #333;
		width: 38%;
		aspect-ratio: 1/1;
		margin: 20px 10px;
	}
	.square {
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
	}
	.white {
		background-color: #f0d9b5;
	}

	.black {
		background-color: #b58863;
	}
	</style>


{% endblock %}
